@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Kite+One:300,400);
@import url(http://fonts.googleapis.com/css?family=Brawler);
  

body {
 font-family: 'Kite One', sans-serif;
  /*text-align: left;*/
  background: url(../img/sign.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
}

p {
  font-size: 1em;
  
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.desc1{
font-family: 'Brawler', sans-serif;
font-size: 1em;

}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  /*min-width: 80%;*/
  min-height: 150px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto
}

.brand-name {
  font-weight: 700;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}


.carousel{
background: rgba(255,255,255,0.99);
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.95);
  margin-bottom: 20px;
  padding: 20px 15px 15px 15px;
}

.intro-text {
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 30px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}




.product{
background-color: #fffbf6;
border: .1em solid #cdecf5;
border-radius: 15px;
padding:5px 10px 10px 10px;
margin-bottom:10px;
border-bottom: 1px solid #2185a3;
box-shadow: 5px 5px 3px #2185a3;
}
.avatar{
margin-top:10px;
margin-right:10px;
border-radius: 6px;
height:50px
}

.donebutton{
height: 80px;
background-color: #abf066;
border-radius: 10px;
font-size: 1.7em;
text-align: center;
line-height: 80px;
border-bottom: 1px solid #38660a;
box-shadow: 5px 5px 3px #38660a;
margin-bottom:.5em;
}
.waitbutton{
height: 90px;
background-color: #abf066;
border-radius: 15px;
font-size: 2em;
text-align: center;
line-height: 100px;
border-bottom: 1px solid #38660a;
box-shadow: 5px 5px 3px #38660a;
margin-bottom:.5em;
}
.iminbutton{
height: 90px;
background-color: #abf066;
border-radius: 15px;
font-size: 2em;
text-align: center;
line-height: 100px;
border-bottom: 1px solid #38660a;
box-shadow: 5px 5px 3px #38660a;
margin-bottom:.5em;
}

.floatleft{
float:left;
margin-top:10px;
}

.opt{
height:80px;
background-color: #fffbf6;
padding: 5px 8px;
margin-bottom:10px;
border-radius: 8px;
border: .1em solid #cdecf5;
border-bottom: 1px solid #2185a3;
box-shadow: 5px 5px 3px #2185a3;
}

.conCard{
  height:80px;
  background-color: #fffbf6;
  padding: 5px 8px ;
  margin-bottom:10px;
  font-size: .8em;
  border-radius: 8px;
  border: .1em solid #cdecf5;
  border-bottom: 1px solid #2185a3;
  box-shadow: 5px 5px 3px #2185a3;
  }
    .inv {
      width:100%-20px;
      border-radius: 10px;
      background-color: rgb(91, 192, 222);
      color: rgb(255, 255, 255);
      font-size:1em;
      padding: 12px ;
      margin-top: 10px;
    }

  .inviteFront {
      width:100%-20px;
      border-radius: 7px;
      background-color: rgb(91, 192, 222);
      color: rgb(255, 255, 255);
      font-size: 1.1em;
      margin: 15px 0 0 0; 
      padding:.5em 
    }
 .inviteFront2 {
      width:100%-20px;
      border-radius: 7px;
      background-color:#084081;
      color: rgb(255, 255, 255);
      font-size: 1.1em;
      margin: 15px 0 0 0; 
      padding:.5em 
    }

 .inviteFront3 {
      width:100%-20px;
      border-radius: 7px;
      background-color:#fdae61;
      color:black;
      font-size: 1.1em;
      margin: 15px 0 0 0; 
      padding:.5em; 
      width:250px;
    }



.balance{
  margin-bottom:.5em
}

.productpic{
	width:80%;
}
.startsinvisible{
	display:none;
}

.mdfy{
      font-size:1.1em !important;
      color: white;
}
