@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Kite+One:300,400);
@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400);
 

body {
 font-family: 'Kite One', sans-serif;
  background: url(../img/sign.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1em;  
}

hr {
  border-color: #999999;
 /* max-width: 400px;*/
}


.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  letter-spacing: 3px;
  font-weight: 400;
}

.tagline-divider {
  margin: 30px auto 3px;
  border-color: #999999;
 /* max-width: 250px;*/
}


.carouselFront{
  background: rgba(255,251,246,0.5);
  border: .1em solid #cdecf5;
  margin-bottom: -15px;
}

.carouselProduct{
  background: rgba(255,251,246,0);
}

.item{
    min-height: 230px;
}



.img-full {
  min-height: 150px;
  max-height: 150px;
  margin-top: 15px; 
  margin-left: auto;
  margin-right: auto
}


.box {
  background: #fff;
  background: rgba(255,255,255,0.95);
  margin-top: 10px;
 /* padding: 20px 15px 15px 15px;*/
}


.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
  position: fixed;  
  bottom: 0px;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 15px 0;
  font-size: .8em;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 30px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.desc1{
font-family: 'Brawler', serif;
font-size: .9em;
 line-height: normal;
}
.balances{
  margin-bottom:.5em;
/* background: rgba(255,251,246,1);*/
 margin: 0 50px 0 0

}

.donebutton, 
.waitbutton, 
.iminbutton {
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    background-color:#AFE2C7;
    border-radius: 5px;
    border-bottom: 1px solid #0c7958;
    box-shadow: 2px 2px 3px #0c7958;
    margin-bottom:.5em;
    }

.buttonSec{
  background-color: #cfeefe;
  border-bottom: 1px solid #084081;
  box-shadow: 2px 2px 3px #084081;
}

.floatleft{
  float:left;
  margin-top:10px;

}

.opt, .conCard {
    height:80px;
    width: 100%;
    background: rgba(255,251,246,0.5);
    padding: 5px 10px;
    margin-bottom:10px;
    border-radius: 5px;
    border: .1em solid #cdecf5;
    border-bottom: 1px solid #2185a3;
    box-shadow: 2px 2px 3px #2185a3;
    
    }

.conCard{
  font-size: .9em;
  }

  .avatar {
    margin-top:10px;
    margin-right:10px;
    border-radius: 5px;
    height:50px
    }
 
  .inv {
      width:100%-20px;
      border-radius: 5px;
      background-color: rgb(91, 192, 222);
      color: rgb(255, 255, 255);
      font-size:1em;
      padding: 12px ;
      margin-top: 10px;
    }

/*these are for buttons*/
  .inviteFront, .inviteFront2, .inviteFront3 {
      border-radius: 5px;
      background-color: rgb(91, 192, 222);
      color: rgb(255, 255, 255);
      font-size: 1.1em;
      margin: 15px 0 0 0; 
      padding:.5em 
    }
 .inviteFront2 {
      background-color:#084081;
 }

 .inviteFront3 {
      background-color:#fdae61;
      color:black;
      width:250px;
    }


.product{
  background-color: #fffbf6;
  border: .1em solid #cdecf5;
  border-radius: 5px;
  padding: 10px ;
  margin-bottom:10px;
  /*border-bottom: 1px solid #2185a3;
  box-shadow: 5px 5px 3px #2185a3;*/
}

.productpic{
	width:80%;
}
.startsinvisible{
	display:none;
}

.mdfy{
      font-size:1em !important;
}
