@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Kite+One:300,400);
@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400);
@import url(http://fonts.googleapis.com/css?family=Lusitana:700); 

body {
 font-family: 'Kite One', sans-serif;
  background: url(../img/sign.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgba(255,245,232,0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1em;  
}

hr {
  border-color: rgba(145,119,126,.15);
 /* max-width: 400px;*/
}

.navbar-brand {
  font-family: 'Lusitana', serif;
  font-weight: 700;
  float: none;
  font-size: 1.5em;
  /*color:#91777e;*/
  margin-top: 0px;  
}


.navbar-custom {
    background-color:rgba(159,2,0,1);
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.footerNav {
    display: inline-block;
    width:23%; 
    color:#ffffff;
    /*margin-left: -40px;*/
    /*padding: 0;  */
    }

.tagline-divider {
  margin: 30px auto 3px;
 border: 1px solid rgba(145,119,126,.15);
}

#mainContainer {
  margin-top: 40px;
  margin: 1em 0 0 0;
  margin-bottom: 50px;
}

.carouselFront{
  background: rgba(255,251,246,0.5);
  border: .15em ridge #91777e;
  margin-bottom: -15px;
   margin-top: 10px;
}

.carouselProduct{
  background: rgba(255,251,246,0);
}

.item{
    min-height: 230px;
}

.img-full {
  min-height: 150px;
  max-height: 150px;
  margin-top: 15px; 
  margin-left: auto;
  margin-right: auto
}


.box {
 /* background: rgba(255,245,232,0.75);*/
  margin-top: 10px;
 /* padding: 20px 15px 15px 15px;*/
}


.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}


.ulNoMarker {
  list-style-type: none;
  padding-left: 5px;
  margin: 8px;
  /*padding-right: 5px;*/
}



#chat-wrapper {
  margin-right: -250px;
  margin-top: -45px;
  right: 0;
  width: 250px;
  background: #feedd4;
  border: .1em solid #91777e;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.chat-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-nav > .chat-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  padding: 0 15px;
  border-bottom:  .1em solid #91777e;
}

#chat-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background: #d20200;
  border: .1em solid #91777e;

}

#chat-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}






@media screen and (min-width: 768px) {

/*.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 30px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}*/

}

@media screen and (min-width: 1200px) {
   /* .box:after {
        content: '';
        display: table;
        clear: both;
    }*/
}

/*media end*/

.desc1{
font-family: 'Brawler', serif;
font-size: .9em;
 line-height: normal;
}
.balances{
  margin-bottom:.5em;
/* background: rgba(255,251,246,1);*/
 margin: 0 50px 0 0

}

.donebutton, 
.waitbutton, 
.iminbutton {
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    background-color:#AFE2C7;
    border-radius: 5px;
    border-bottom: 1px solid #0c7958;
    box-shadow: 2px 2px 3px #0c7958;
    margin-bottom:.5em;
    }

.buttonSec{
  background-color: #cfeefe;
  border-bottom: 1px solid #084081;
  box-shadow: 2px 2px 3px #084081;
}

.floatleft{
  float:left;
  margin-top:10px;

}

.opt, .conCard {
    height:80px;
    width: 100%;
    background: #feedd4;
    padding: 5px 10px;
    margin-bottom:10px;
    border-radius: 5px;
    border: .1em solid #91777e;
    border-bottom: 1px solid #91777e;
    box-shadow: 2px 2px 3px #91777e;
    
    }

.conCard{
  font-size: .9em;

  }

  .avatar {
    margin-top:10px;
    margin-right:10px;
    border-radius: 5px;
    height:50px
    }
 
  .inv {
      width:100%-20px;
      border-radius: 5px;
      background-color: rgb(91, 192, 222);
      color: rgb(255, 255, 255);
      font-size:1em;
      padding: 12px ;
      margin-top: 10px;
    }

/*these are for buttons*/
  .inviteFront, .inviteFront2, .inviteFront3 {
      border-radius: 5px;
      background-color:#AFE2C7;
      color: rgb(255, 255, 255);
      font-size: 1.1em;
      margin: 15px 0 0 0; 
      padding:.5em;
       color:black;
    }
 .inviteFront2 {
      background-color:rgba(206,120,37,.15);
 }

 .inviteFront3 {
      /*background-color:#fdae61;*/
       background-color:rgba(206,120,37,.3);
      color:black;
      width:250px;
    }


.product{
  background-color: #fffbf6;
  border: .1em solid #cdecf5;
  border-radius: 5px;
  padding: 10px ;
  margin-bottom:10px;
  /*border-bottom: 1px solid #2185a3;
  box-shadow: 5px 5px 3px #2185a3;*/
}

.productpic{
	width:80%;
}
.startsinvisible{
	display:none;
}

.mdfy{
      font-size:1em !important;
}


