<div class="row">
    <div class="box" style ="margin-top:-1em;margin-bottom:0">
        <div class="col-lg-12">
            
		            <div class="conCard">
		            <img class="floatleft avatar" src="./img/image1.jpg"  alt=""><div class="floatleft conName"><p>Dave Beard</p>
                    <p class="conNum">SMS: 212 555-1212</p>
                    </div><div class="inv pull-right">Invite</div>
		            </div>
		            
		            <div class="conCard">
		            <img class="floatleft avatar" src="./img/image2.jpg" alt=""><div class="floatleft"><p>Alexi Sints </p>  <p class="conNum">SMS: 212 555-1212</p></div><div class="inv pull-right">Invite</div>
		            </div>
		            
		            <div class="conCard">
		            <img class="floatleft avatar" src="./img/image3.jpg"  alt=""><div class="floatleft"><p>Bertrand Beasant<p> <p class="conNum">SMS: 212 555-1212</p></div> <div class="inv pull-right">Invite</div>
		            </div>
		            
		            <div class="conCard">
		            <img class="floatleft avatar" src="./img/image4.jpg"  alt=""><div class="floatleft"><p>J. Frank <p> <p class="conNum">SMS: 212 555-1212</p></div><div class="inv pull-right">Invite</div>
		            </div>

                    <div class="conCard">
                    <img class="floatleft avatar" src="./img/image7.jpg"  alt=""><div class="floatleft"><p>Pat Ewing<p> <p class="conNum">SMS: 212 555-1212</p></div><div class="inv pull-right">Invite</div>
                    </div>
                    
                    <div class="conCard">
                    <img class="floatleft avatar" src="./img/image5.jpg"  alt=""><div class="floatleft"><p>Bill Horn<p> <p class="conNum">SMS: 212 555-1212</p></div><div class="inv pull-right">Invite</div>
                    </div>
                    
                    <div class="conCard">
                    <img class="floatleft avatar" src="./img/image6.jpg"  alt=""><div class="floatleft"><p>Ronnie James<p> <p class="conNum">SMS: 212 555-1212</p></div><div class="inv pull-right">Invite</div>
                    </div>


		            <div class="donebutton sendSMSPurchase" style="margin-top:1.2em" >SMS: Share Purchase!</div>
                    <div class="donebutton sendSMSCover" >SMS: Ask For Cover!</div>

        </div>
    </div>
</div>

    <!-- JavaScript -->
<script>
    
    $( ".inv" ).click(function() {
		$( this ).css("background-color","#fdae61").css("color","black");
	});
	
	
	$(".donebutton").click(function() {
		$( this ).css("background-color","slate");
		$( this ).text("Processing...");
		window.setTimeout(function() {
    		window.location.href = '../index.html';
		}, 5000);
        
		$.post( "http://bethrifty.herokuapp.com/send_sms22222222222222222", function( data ) {
			$( ".result" ).html( data );
		});
	});
</script>
