
<div class="row">
    <div class="box" style ="margin-top:-1em;margin-bottom:0">
                <div class="product">
                    <h4 class="bigwhitetext">Show this page at the checkout to complete purchase.</h4>
                    <img class="productpic" src="img/qr.png" alt="">
                    <hr>
                    <div class="bigwhitetext">Transaction Number: 237402374234207</div>
                    <hr>
                    <img class="productpic" src="img/barcode.png" alt="">
                    </div>
                    
                    <div class="goal">
                    <div class=""><h5>Great! You just saved $2.37 per item.<h5>
                        <img class="productpic" src="//charts.brace.io/bar.svg?Dollars=32,21,39&_labels=Jan,Feb,Mar"> 
                        <h5>Click the graph to track your savings.<h5>
                    </div>
                    </div>

        </div>
    </div>
</div>




