<div class="row">
  
     <div class="col-xs-12">
         <p> Create a new Buying group select from:</p>
		<ul class="row ulNoMarker" >
		    <li class="text-center">Facebook</li>
		    <li class=" text-center">Google+</li>
		    <li class=" text-center">Contacts on Phone </li>
		    <li class=" text-center">Add New</li>
		  </ul>
		
		
		

        <div class="col-xs-12">
           

		             


		          
        </div>
    </div>

                      
</div>

<!--  <div class="footerSpacer" style="height:70px"></div> 
 -->

    <!-- JavaScript -->
<script>
    

</script>
