<div class="row">
  
     <div class="col-xs-12">
         <p> Submit new product here: </p>
		<!-- <ul class="row ulNoMarker" >
		    <li class="text-center">Facebook</li>
		    <li class=" text-center">Google+</li>
		    <li class=" text-center">Contacts on Phone </li>
		    <li class=" text-center">Add New</li>
		  </ul> -->
		
		<h4>Use Camera: </h4>

		
		<h4>Write descr:</h4>
		
		<h4>Decide the split percentage</h4>
		

		<p>send out via sms or chat</p>
        <div class="col-xs-12">
           

		             


		          
        </div>
    </div>

                      
</div>

<!--  <div class="footerSpacer" style="height:70px"></div> 
 -->

    <!-- JavaScript -->
<script>
    

</script>
