<!DOCTYPE html>
<html >

<head>
    <meta name="description" content="">
    <meta name="author"     content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="false" />

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="../css/style.css" rel="stylesheet">
    <style>

</style>
</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">BeThifty</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a 	href="../index.html">Home</a></li>
                    <li><a 	href="contacts.html">Contacts</a> </li>
                     <li><a href="products.html">Products</a> </li>
                    <li><a 	href="#">About</a>
                    </li>
                   

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

<!-- for products	 -->

<div id="myCarousel" class="carousel slide" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic" src="../img/shampoo.jpg" alt=""><div class=""><p class="turnwhite">Shampoo</p><div class="turnwhite">Quantity: 40lbs</div></div>
				            </div>
				            
				            <div class="product goal">
				            <div class=""><h5>Goal<h5><p class="theamount">You need $37.50 more to purchase this bulk item.</p></div>
				            </div>
				            
				            <div class="product goal startsinvisible done">
				            <div class=""><h5>Goal<h5><p>Your community has collected enough to purchase this item.</p></div>
				            </div>
				            
				            <div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton mdfy">Waiting for further contributiions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic" src="../img/shampoo.jpg" alt=""><div class=""><p class="turnwhite">Shampoo</p><div class="turnwhite">Quantity: 40lbs</div></div>
				            </div>
				            
				            <div class="product goal">
				            <div class=""><h5>Goal<h5><p class="theamount">You need $37.50 more to purchase this bulk item.</p></div>
				            </div>
				            
				            <div class="product goal startsinvisible done">
				            <div class=""><h5>Goal<h5><p>Your community has collected enough to purchase this item.</p></div>
				            </div>
				            
				            <div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton mdfy">Waiting for further contributiions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic" src="../img/shampoo.jpg" alt=""><div class=""><p class="turnwhite">Shampoo</p><div class="turnwhite">Quantity: 40lbs</div></div>
				            </div>
				            
				            <div class="product goal">
				            <div class=""><h5>Goal<h5><p class="theamount">You need $37.50 more to purchase this bulk item.</p></div>
				            </div>
				            
				            <div class="product goal startsinvisible done">
				            <div class=""><h5>Goal<h5><p>Your community has collected enough to purchase this item.</p></div>
				            </div>
				            
				            <div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton mdfy">Waiting for further contributiions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>


		



    </div>
    <!-- /.container -->

    <footer>
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; BeThifty 2014</p>
                </div>
            </div>
    
    </footer>

    <!-- JavaScript -->
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script>
  $.fn.carousel.defaults = {
    interval: false
  , pause: 'hover'
  }
  
    
    function onapiresponse()
	{
		$(".waitbutton").hide();
		$( ".goal" ).fadeOut( "slow", function() {
		// Animation complete.
			$(".done").fadeIn();
		});
		newtext = "yrp yrp yrp $" + 23;
		$(".theamount").text(newtext);
		//some code to be executed
	}
	mytimer = 293472939;
//	$(function(){
//    	mytimer = setInterval(function(){
//        	$.post("url", { data: 'value' }, function(result){
//            	var obj = JSON.parse(result);
//            	if (obj.somevalue) {
//            		onapiresponse();
//					clearInterval(mytimer)
//            	}
//        	});
//    	}, 1000);
//	});
	
	$( ".product" ).click(function() {
		onapiresponse();		
	});	
	$( ".donebutton" ).click(function() {
		window.setTimeout(function() {
    		window.location.href = './finish.html';
		}, 5000);
	});
    
   
    </script>


</body>

</html>

