


<!-- for products	 -->
<div id="myCarousel" class="carousel slide" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic img-responsive img-full " src="./img/shampoo.jpg" alt=""><div class=""><p class="turnwhite">Shampoo</p><div class="turnwhite">Quantity: 40lbs</div></div>
				            

				            <hr class="tagline-divider">

 							<div class=" goal">
				            	<p > Goal: Need <span class="theamount"> $37.50</span> more to purchase.</p>
				            </div>

				             <div class=" goal startsinvisible done">
				            	<p> Goal: Reached</p>
				            </div>

				            </div>
				            
 							<div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton buttonSec mdfy">Waiting for further contributions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>

				             <h4 class="groupName"> Group1 </h4>
				           	<div class="members"> 
							
									<ul > 
								      <li >Jim   <span class="join"> yes</span></li>
								      <li >Sam   <span class="join"> yes</span></li>
								      <li >Jane  <span class="join"> no</span></li>
									  <li >Jeff  <span class="join"> ...</span></li>
								      <li >Fred  <span class="join"> ...</span></li>

								 	</ul> 
				           </div>
				            
				           
                </div>
            </div>
 
    </div>
    <div class="item">
   
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic  img-responsive img-full " src="./img/diapers.jpg" alt=""><div class=""><p class="turnwhite">Diapers</p><div class="turnwhite">Quantity: 40lbs</div></div>
				          
				            
				           <hr class="tagline-divider">

 							<div class=" goal">
				            	<p > Goal: Need <span class="theamount"> $37.50</span> more to purchase.</p>
				            </div>

				             <div class=" goal startsinvisible done">
				            	<p> Goal: Reached</p>
				            </div>
				    
				           

							<div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton buttonSec mdfy">Waiting for further contributions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>

 							</div>

				             <h4 class="groupName"> Group2 </h4>
				           	<div class="members"> 
							
									<ul > 
								      <li >Jane  <span class="join"> no</span></li>
									  <li >Jeff  <span class="join"> ...</span></li>
								      <li >Fred  <span class="join"> ...</span></li>

								 	</ul> 
				           </div>
				            
				            
                </div>
            </div>

    </div>
    <div class="item">
  
            <div class="box">
                <div class="col-lg-12">
				            <div class="product">
				            <img class="productpic img-responsive img-full" src="./img/rice.jpg" alt=""><div class=""><p class="turnwhite">Rice</p><div class="turnwhite">Quantity: 40lbs</div></div>
				           
				            
				            <hr class="tagline-divider">

 							<div class=" goal">
				            	<p > Goal: Need <span class="theamount"> $37.50</span> more to purchase.</p>
				            </div>

				             <div class=" goal startsinvisible done">
				            	<p> Goal: Reached</p>
				            </div>
				            </div>
				            
							<div class="donebutton startsinvisible done mdfy">Go to Checkout!</div>
				            <div class="waitbutton buttonSec mdfy">Waiting for further contributions...</div>
				            <div class="iminbutton startsinvisible mdfy">Let me get in on that!</div>


				            <h4 class="groupName"> Group3 </h4>
				           	<div class="members"> 
							
									<ul > 
									  <li >Jeff  <span class="join"> ...</span></li>
								      <li >Fred  <span class="join"> ...</span></li>

								 	</ul> 
				           </div>
				            
				            
                </div>
            </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>

<!-- <div class="footerSpacer" style="height:70px"></div>  -->


    <!-- JavaScript -->
    <script>
	  $.fn.carousel.defaults = {
	    interval: false
	  , pause: 'hover'
	  }
	  
    
    function onAPIResponse()
	{
		$(".waitbutton").hide();
		$( ".goal" ).fadeOut( "slow", function() {
		// Animation complete.
			$(".done").fadeIn();
		});
		newtext = "yrp yrp yrp $" + 23;
		$(".theamount").text(newtext);
		//some code to be executed
	}
	mytimer = 2000;
//	$(function(){
//    	mytimer = setInterval(function(){
//        	$.post("url", { data: 'value' }, function(result){
//            	var obj = JSON.parse(result);
//            	if (obj.somevalue) {
//            		onapiresponse();
//					clearInterval(mytimer)
//            	}
//        	});
//    	}, 1000);
//	});
	
	$( ".product" ).click(function() {
		onAPIResponse();		
	});	
	$( ".donebutton" ).click(function() {
		window.setTimeout(function() {
 			$("#mainContainer").html("").load("views/checkout.html");
		}, 100);
	});
    
   
    </script>


